<div class="col-12 px-0 mx-0">
  <div class="row px-0 mx-0">
    <div class="col-12 px-0 mx-0" *ngIf="series !== undefined && series.length>0">
      <img class="mx-0 px-0" width="100%" src="{{ baseOriginalPosterPath + series[0].backdrop_path}}">
    </div>
  </div>
</div>

<div class="col-12 mt-5 mx-0 text-white">
  <div class="row">
    <div class="col-md-10 col-sm-9 col-8">
      <h2>Populaires:</h2>
    </div>
    <div class="col-md-2 col-sm-3 col-4">
      <select class="form-control bg-dark text-light" [(ngModel)]="nbSerie" [ngModelOptions]="{standalone: true}" (ngModelChange)="changeNbDisplay()">
        <option>5</option>
        <option>10</option>
        <option>20</option>
      </select>
    </div>
  </div>
</div>

<div class="col-12 my-3 px-0 mx-0">
  <div class="row px-0 mx-0">
    <div class="mx-3 mt-3" *ngFor="let serie of series; let index = index;">
      <img (click)="openDetail(serie)" class="mx-0 px-0 shadow" src="{{ baseLittlePosterPath + serie.poster_path}}">
    </div>
  </div>
</div>
